<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<center>
    <form method="post" action="/auth/register">
        <label for="name">Name: </label>
        <input type="text" id="name" required minlength="3" name="name" placeholder="Name"><br><br>
        <label for="surname">Surname: </label>
        <input type="text" id="surname" required minlength="3" name="surname" placeholder="Surname"><br><br>
        <label for="username">Username: </label>
        <input type="text" id="username" required minlength="3" name="username" placeholder="Username"><br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" required minlength="5"  name="password" placeholder="Password"><br><br>
        <span>Already you have an account? <a href="/auth/login">Login</a></span>
        <input type="submit" value="Register"><br><br>
    </form>
</center>
</body>
</html>